.App {
  margin:24px;
}

.container {
  padding: 3px;
  border: 1px solid darkblue;
}

.box, .sm-box {
  border: 1px solid dodgerblue;
  background-color: lightgreen;
  height:50px;
  text-align: center;
  font-size: 0.7rem;
}

.sm-box {
  background-color: aquamarine;
}
