.App {
}

.container {
  border: 1px solid darkblue;
}

.second-col {
  height: 300px;
}

.box, .sm-box {
  font-size: 1rem;
}

.sm-box {
  background-color: aquamarine;
}

.selling-a-business, .image-1, .dealing-with-disputes {
  height:150px;
}

.selling-a-business, .dealing-with-disputes {
  color: black;
  background-color: white;
}

.image-1 {
  background-color: #d5eaf1;
}

.image-2 {
  height: 180px;
  background-color: #d5eaf1;
}

.bottom-row {
  border: 2px solid darkblue;
}


@media only screen and (max-width: 600px) {
  [class*="image"] {
    display: none;
  }
}


.border {
  border: 2px solid rebeccapurple;
}

.item-wrapper {
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
  border-radius: 5px;
  margin:4px;
  width:100%;
}

@media only screen and (min-width: 600px) {
  [class*="hidden-on-desktop"] {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  [class*="expandable"] {
    border: none;
  }
}

@media only screen and (max-width: 600px) {
  [class*="hidden-on-mobile"] {
    display: none;
  }
}

.panel-header-icon img {
  float:left;
  margin-right:10px;
  position: relative;
  top:2px;
}

.setting-up {
  height : 414px;
}

.operations {
  height: 332px;
}

.selling-a-business {
  height: 200px;
}

.staff {
  height: 250px;
}

.tile-icon {
  margin: 18px 18px 0px 12px;
}

.tile-title {
  margin-left: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.01em;
  color: #232a3a;
}

#wrapper {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#wrapper td {
  vertical-align: middle;
  text-align: center;
}
